* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
}

body {
  background-color: #212121;
  color: white;
  font-family: "Lato", sans-serif;
}

.starSpan {
  margin-top: 0.1rem;
  margin-right: 0.8rem;
}

.tagSpan {
  margin-top: 0.2rem;
  color: grey;
}

.header {
  background-color: #1b1b1b;
  height: 70px;
  cursor: pointer;
  user-select: none;
}

.navContainer {
  padding: 0.8rem;
}

.cards-container {
  padding: 0rem 1rem;
}

.card-restro {
  width: 22rem ;
  border-radius: 0.5rem;
  background-color: rgb(55, 55, 55);
  padding: 1rem;
  margin: 1rem;
}

h2 {
  margin-left: 13rem;
}

.hero > .search-container {
  margin-left: 13rem;
  margin-top: 3rem;
}

li {
  max-width: 100px;
  list-style: none;
  background-color: rgb(61, 61, 61);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 12rem;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.logo {
  padding-top: 0.1rem;
  max-width: 2.6rem;
  object-fit: cover;
  border-radius: 0.8rem;
}

.search-container {
  margin: 2rem;
}

input {
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  background-color:  rgb(51, 51, 51);
  color: white;
  border: none;
}

button {
  padding: 0.4rem 1rem;
  background-color: #e5065d;
  border: none;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* flex classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.flex-sa {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 12rem;
  flex-wrap: wrap;
  flex: 1;
}

.card-restro:hover {
  user-select: none;
  cursor: pointer;
  border: 1px solid rgb(100, 100, 100);
  background-color: #424242;
}

button:hover {
  background-color: #b90248;
}